* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #b6defc;
  padding: 0px ;
}

.hotspot {
  max-height:100vh; 
  max-width:100vw;
}

svg {
  max-height:100%; 
  max-width:100%;

.country {
  fill:#D3D3D3
}

.country:hover {
    transition: 0,1s
    stroke-width: 40px;

    fill: #FF70FF;
    filter: drop-shadow(0 0px 20px rgba(255, 112, 255, .5));
}